@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.animate-infinite-scroll {
	animation: scroll 40s linear infinite;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

.swiper-button-next,
.swiper-button-prev {
	color: #FFD700 !important;
}

.swiper-pagination-bullet-active {
	background: #FFD700 !important;
}




/* Tools logo image properties  */




.revit-logo {
	width: 150px;
	/* Adjust the width */
	height: auto;
	/* Maintain aspect ratio */
}

.archicad-logo {
	width: 150px;
	/* Adjust the width */
	height: auto;
	/* Maintain aspect ratio */
	border-radius: 1rem;
}

.autocad-logo {
	width: 170px;
	/* Adjust the width */
	height: 170px;
	/* Maintain aspect ratio */
}

.sketchup-logo {
	width: 150px;
	/* Adjust the width */
	height: 150px;
	/* Maintain aspect ratio */
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}

/* Ensure the carousel container hides overflow */
.overflow-hidden {
	overflow: hidden;
}

/* Carousel wrapper */
.flex.w-max {
	display: flex;
	width: max-content;
	animation: scroll 20s linear infinite;
}